<section class="container">
  <div class="row">
    <div class="col-lg-offset-3 col-md-offset-2 col-lg-6 col-md-8 panel panel-login">
      <h1 class="logo text-center">AppDev<span class="logo-bold">Challenge</span><br>Admin</h1>
      <%= form_tag admin_sessions_path do %>
        <div class="form-group">
          <%= label_tag :password, nil, class: "sr-only" %>
          <%= password_field_tag :password, nil, class: "form-control", placeholder: "Password" %>
        </div>
        <div class="g-recaptcha form-group" data-sitekey="6Ld7pBcTAAAAAP7e_5B_Fk0SA6iqiuXqREH2I7f2"></div>
        <div class="text-center">
          <%= submit_tag "Log In", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</section>