/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

body {
  font-family: 'Source Sans Pro';
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  background-color: #f6f6f6;
}

i, cite, em, var, address, dfn {
  font-style: normal;
  color: #999;
}

.post img.post-image {
  float: none;
  width: 100%;
  margin: 30px auto 0;
}

.post img {
  width: 100%;
  margin-bottom: 0;
}

.posts-title {
  margin-left: 15px;
  margin-top: -15px;
}

.post {
  padding-top: 50px;
}

.post blockquote {
  padding: 0;
  margin: 0 0 20px;
  border-left: 0;
  font-family: 'Alegreya Sans SC';
  font-size: 24px;
  color: #7e7e7e;
}

.post blockquote p {
  line-height: 1.4
}

.post blockquote p:before {
  content: '\201C';
}

.post blockquote p:after {
  content: '\201D';
}

.post ul, .post ol {
  margin-bottom: 20px;
}

.post pre {
  margin-bottom: 20px;
}

span.circle-symbol {
  margin-left: 5px;
  margin-right: 5px;
}

a.chevron-down {
  color: #fff;
  font-size: 38px;
  border: none;
  margin-top: 1em;
  display: inline-block;
}

a.chevron-down:hover {
  border: none;
}

.thumbnail a.post-title {
  color: #333;
  -webkit-transition: color 0.1s ease;
  -moz-transition: color 0.1s ease;
  -o-transition: color 0.1s ease;
  transition: color 0.1s ease;
  border: none;
}

.thumbnail a.post-title:hover,
.thumbnail a.post-title:focus {
  border: none;
  text-decoration: none;
  color: #f7a131;
}

.thumbnail a.post-title:focus {
  border: none;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.9);
  border: 0;
}

.navbar-inverse .navbar-nav li.social-icon>a {
  padding-left: 5px;
  padding-right: 5px;
}

.navbar-inverse .navbar-nav li.social-icon>a:hover,
.navbar-inverse .navbar-nav li.social-icon>a:focus {
  color: #fff;
}

li.social-icon i {
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

li.social-icon i.fa-facebook:hover {
  color: #3b5998;
}

li.social-icon i.fa-twitter:hover {
  color: #55acee;
}

li.social-icon i.fa-google-plus:hover {
  color: #dd4b39;
}

li.social-icon i.fa-rss:hover {
  color: #ee802f;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  font-family: 'Alegreya Sans SC';
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
  color: #f7a131;
}

.navbar-inverse .navbar-nav>.active>a {
  background: none;
}

.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  color: #f7a131;
  background: none;
}

a {
  color: #f7a131;
  border-bottom: 1px solid #f7a131;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover {
  color: #e88300;
  border-bottom: 1px solid #e88300;
  text-decoration: none;
}

.navbar .navbar-brand {
  font-size: 24px;
}

.logo-bold {
  font-weight: 900;
}

.navbar a {
  border: none;
}

.navbar a:hover {
  border: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Alegreya Sans SC';
  font-weight: 900;
}

h1.headline {
  color: #fff;
  font-size: 42px;
  line-height: 38px;
  text-transform: uppercase;
}

h1.headline span {
  display: block;
  font-size: 24px;
  line-height: 26px;
}

.headline-container {
  background: rgb(31,88,137);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(31,88,137,1) 0%, rgba(1,37,70,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(31,88,137,1) 0%,rgba(1,37,70,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(31,88,137,1) 0%,rgba(1,37,70,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f5889', endColorstr='#012546',GradientType=1 );
  padding-top: 3em;
  padding-bottom: 1.5em;
}

.headline-container:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 500px;
  z-index: 0;
  opacity: 0.15;
  background-image: url('blueprint.png');
  background-repeat: repeat;
  background-position: 50% 15%;
}

.mail-list-top p {
  color: #fff;
  font-style: italic;
  margin-top: 30px;
  margin-bottom: 10px;
}

.mail-list-top .form-control {
  max-width: 350px;
  border-radius: 5px;
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  font-family: 'Alegreya Sans SC';
  font-size: 20px;
  width: 150px;
  padding: 3px;
  background-color: #f7a131;
  border: 0;
  border-radius: 5px;
  box-shadow: inset 0px -1px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.btn-primary:focus {
  background-color: #f7a131;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(251, 218, 174, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(251, 218, 174, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(251, 218, 174, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
}

.btn-primary:hover {
  background-color: #e88300;
}

div.thumbnail {
  border-radius: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
  border: none;
}

p.meta {
  font-family: 'Alegreya Sans SC';
  color: #666;
}

div.thumbnail h1.h2 {
  line-height: 0.9em;
  margin-top: 5px;
  margin-bottom: 5px;
}

div.thumbnail p.excerpt {
  margin-bottom: 5px;
}

div.thumbnail p.read-more {
  font-family: 'Alegreya Sans SC';
  font-size: 14px;
  margin-top: 0;
}

div.thumbnail div.caption {
  padding: 15px 20px;
}

.pages {
  font-family: 'Alegreya Sans SC';
  font-size: 24px;
  display: inline-block;
  padding-left: 0;
  margin: 20px 0 20px;
}

.pages li {
  display: inline-block;
  margin: 0 auto 30px;
  padding: 0 9px 3px 30px;
  border-radius: 5px;
}

.pages li.selected {
  padding: 0 12px 3px 12px;
  margin-left: 18px;
  display: inline-block;
  background-color: #f1f0f0;
  color: #b5b5b5;
  -webkit-box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.2);
  box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.2);
  -ms-transform: translate(0,100px); /* IE 9 */
  -webkit-transform: translate(50px,100px); /* Safari */
  transform: translate(0, 2px);
}

footer {
  background-color: #252525;
  color: #fff;
  z-index: 10;
}

.logo {
  font-weight: 400;
}

.navbar-bottom ul {
  display: inline-block;
  font-family: 'Alegreya Sans SC';
  padding: 0;
}

.navbar-bottom ul li {
  list-style-type: none;
}

.bg-dark .container {
  background-color: #252525;
  max-width: 100%;
}

footer {
  padding-top: 20px;
  padding-bottom: 25px;
}

ul.social-icons li a,
footer ul li a {
  color: #fff;
  -webkit-transition: color 0.1s ease;
  -moz-transition: color 0.1s ease;
  -o-transition: color 0.1s ease;
  transition: color 0.1s ease;
  border: none;
}

ul.social-icons.dark li a {
  color: #000;
}

ul.social-icons li a:hover,
ul.social-icons li a:focus,
footer ul li a:hover,
footer ul li a:focus {
  border: none;
  text-decoration: none;
  color: #f7a131;
}

.container.contact {
  margin-bottom: 50px;
}

.social-icons {
  font-size: 30px;
  margin-top: 20px;
  padding: 0;
}

.social-icons li:first-child {
  margin-left: 0;
}

.social-icons li {
  display: inline;
  list-style-type: none;
  margin-left: 20px;
}

.social-bottom {
  font-size: 36px;
  margin: 30px 30px 0;
}

.mail-list-bottom p {
  margin-bottom: 20px;
}

.mail-list-bottom input {
  max-width: 300px;
  margin: 0 auto;
}

.form-group input {
  margin: 0 auto;
}

.previous-page {
  margin: 0 auto;
}

.post p {
  margin-bottom: 20px;
  line-height: 1.8;
}

.post h1,
.post h2,
.post h3 {
  margin-top: 30px;
}

.post h1 + h2,
.post h2 + h3,
.post h3 + h4 {
  margin-top: 15px;
}

.post p.image-description {
  color: #7e7e7e;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.post-text p:nth-of-type(2) {
  font-family: 'Alegreya Sans SC';
  font-size: 24px;
  line-height: 1.4;
}

.container.post {
  margin-bottom: 30px;
}

.mail-list-post {
  background-color: #fff;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
  padding: 15px 15px 25px 15px;
}

.mail-list-post input {
  max-width: 400px;
}

.mail-list-post h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.mail-list-post p {
  line-height: 1.4;
  margin: 5px auto 30px;
}

.mail-list-post p.fine-print {
  font-family: 'Alegreya Sans SC';
  font-size: 14px;
  line-height: 1;
  margin: 10px auto 0;
}

.article-navigation {
  margin: 30px 0 40px;
}

.previous-article {
  float: left;
}

.next-article {
  float: right;
}

.main-title {
  font-size: 50px;
  line-height: 0.8;
}

.article-navigation li:first-child {
  margin: 0 40px 20px 0;
}

.flash {
  margin-top: 50px;
  margin-bottom: 0;
}

@media (min-width: 768px) {

  .post p.image-description {
    margin-top: 10px;
  }

  .headline-container:before {
    background-position: 50% 16%;
  }

  h1.headline {
    font-size: 50px;
    line-height: 24px;
  }

  h1.headline span {
    font-size: 24px;
    line-height: 38px;
  }

  .mail-list-top .form-control {
    width: 250px;
  }

  .navbar-inverse .navbar-nav>li>a {
    font-size: 14px;
  }

  .headline-container {
    padding-top: 4.5em;
    padding-bottom: 3em;
  }

  footer {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .post blockquote p {
    text-indent: -0.3em;
  }

  .post img,
  .post .image-description,
  .post blockquote {
    float: left;
    width: 120%;
    margin-left: -60px;
  }

  .headline-container:before {
    max-height: 480px;
  }

  .mail-list-post {
    margin-top: 15px;
  }

}

@media (min-width: 992px) {

  h1.headline {
    font-size: 60px;
    line-height: 30px;
  }

  h1.headline span {
    font-size: 32px;
    line-height: 48px;
  }

  .social-icons {
    margin-top: 0;
    font-size: 18px;
  }

  div.thumbnail p.meta {
    margin-bottom: 0;
    font-size: 14px;
  }

  .pages {
    font-size: 18px;
  }

  .pages li {
    padding: 0 9px 3px 10px;
  }

  .pages li.selected {
    padding: 0 9px 3px 9px;
    margin-left: 1px;
  }

  .pages li:first-child {
    margin-right: 20px;
  }

  .pages li:last-child {
    margin-left: 20px;
  }

  footer {
    padding-bottom: 40px;
  }

  .main-title {
    font-size: 65px;
    line-height: 0.8;
  }

  .post {
    font-size: 21px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .article-navigation li:first-child {
    margin-left: 10px;
  }

  .social-bottom {
    font-size: 20px;
    margin: 0 15px 0;
  }

  .post img,
  .post .image-description,
  .post blockquote {
    margin-left: -72px;
  }

}

@media (min-width: 1200px) {
  .post img,
  .post .image-description,
  .post blockquote {
    margin-left: -70px;
  }
}