<header class="jumbotron headline-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="headline">
          I am challenging myself<br>
          <span>to learn iOS development and earn $5000 in six months.</span>
        </h1>
        <section class="mail-list-top">
          <p class="text-center">
            I will share all my successes and failures, join my list to get updates. 
          </p>
          <%= render 'layouts/maillist',
                     form_name: "Header Signup Form",
                     css_class: "form-inline" %>
        </section>
      </div>
    </div>
  </div>
</header>