<header class="jumbotron headline-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="headline">
          I am challenging myself<br>
          <span>to learn iOS development and earn $5000 in six months.</span>
        </h1>
        <section class="mail-list-top">
          <p class="text-center">
            I will share all my successes and failures, join my list to get updates. 
          </p>
          <form class="form-inline">
            <div class="form-group">
              <label for="name" class="sr-only">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="email" class="sr-only">E-Mail</label>
              <input type="email" class="form-control" id="email" placeholder="E-Mail">
            </div>
            <button type="submit" class="btn btn-primary">Join the List</button>
          </form>
        </section>
        <a class="chevron-down" href="#">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
</header>