<form action="http://appdevchallenge.us12.list-manage.com/subscribe/post" method="POST" target="_blank" <%= "class=#{css_class}" if defined? css_class %>>
  <input type="hidden" name="u" value="7d6b207df0db42f6bfcff3322">
  <input type="hidden" name="id" value="3bdfba5727">
  <input type="hidden" name="SOURCE" id="SOURCE" value="<%= form_name.parameterize %>">

  <div class="form-group">
    <label for="MERGE1" class="sr-only">Name</label>
    <input type="text" class="form-control" name="MERGE1" id="MERGE1" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="MERGE0" class="sr-only">E-Mail</label>
    <input type="email" class="form-control" name="MERGE0" id="MERGE0" placeholder="E-Mail">
  </div>
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7d6b207df0db42f6bfcff3322_3bdfba5727" tabindex="-1" value=""></div>
  <button type="submit" class="btn btn-primary">Join the List</button>
</form>